<!DOCTYPE html>
<html>
    <head>
        <title>DMN Hosting</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" type="image/png" href="img/favicon.png"/>
        <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet">
		    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;200;300;400;500;600;700;800;900&family=DM+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
		    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		    <link rel="stylesheet" href="css/estilos.css">
		    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
		    <link href="css/style.min.css" rel="stylesheet" />
    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#opciones">
              <span class="navbar-toggler-icon"></span>
            </button>
            
            <!-- logo -->
            <a class="navbar-brand" href="index.html">
              <img src="img/logodmn.jpg" alt="" class="img-fluid">
            </a>
            
            <!-- Enlaces -->
            <div class="collapse navbar-collapse justify-content-center" id="opciones">   
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="index.html">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="quienes_somos.html">Quiénes somos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="planes_hosting.html">Hosting</a>
                </li>  
                <li class="nav-item">
                  <a class="nav-link" href="galeria.html">Galería</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contacto.html">Contacto</a>
                </li> 
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li class="nav-item">
                  <a class="nav-link" href="registro.html"><b>Registrarse</b></a>
                </li>    
                </ul>
            </div>
            <i class="fas fa-adjust"></i>
            <button onclick="myFunction()">Dark mode</button>
        </nav>
          <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  

    <header>
    <!-- Container 1 -->
    <section class="pt-105 pb-45 text-center feature_1 color-filter-dark-1">
			<div class="container px-xl-0">
				<div class="row justify-content-center justify-content-md-between align-items-center">
					<div class="col-xl-20">
						<h1 class="mb-45 aos-animate">
							Empresas que utilizan nuestros servicios
						</h1>

            <div class="container margin"></div>
              <div class="row container-fluid justify-content-center align-items-center">
                <div class="row img-fluid">
                  <div class="col-md-4 ">
                    <div class="card mb-4 box-shadow desvanecer "> 
                      <div class="div-imagen">
                        <div class="color text-dark text-center"> 
                          <h4>Es una compañía estadounidense de comercio electrónico y servicios de computación en la nube.</h4>
                        </div>
                        <img  class="card-img-top desvanecer " src="img/amazon_g.jpg">
                      </div>
                      <div class="card-body">
                        <p class="card-text text-dark text-center">AMAZON</p>
                        <a href="https://www.amazon.com/" class="btn btn-primary bg-dark">Entrar</a>
                        <div class="d-flex justify-content-between align-items-center">
                        </div>
                      </div>
                    </div>
                  </div>
            
                  <div class="col-md-4 ">
                    <div class="card mb-4 box-shadow desvanecer justify-content-center"> 
                      <div class="div-imagen">
                        <div class="color text-dark text-center"> 
                          <h4>Instituto profesional de estudios superiores con múltiples sedes a nivel nacional.</h4>
                        </div>
                        <img  class="card-img-top desvanecer" src="img/duoc_g.jpg">
                      </div>
                      <div class="card-body"> 
                        <p class="card-text text-dark text-center">DUOC UC</p>
                        <a href="https://www.duoc.cl/" class="btn btn-primary bg-dark">Entrar</a>
                        <div class="d-flex justify-content-between align-items-center">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 ">
                    <div class="card mb-4 box-shadow desvanecer "> 
                      <div class="div-imagen">
                        <div class="color text-dark text-center"> 
                          <h4>Con más de 2.000 usuarios activos es en la actualidad una de las redes sociales más importantes del momento.</h4>
                        </div>
                        <img  class="card-img-top desvanecer" src="img/facebook_g.jpg">
                      </div>
                      <div class="card-body"> 
                        <p class="card-text text-dark text-center">FACEBOOK</p>
                        <a href="https://www.facebook.com/" class="btn btn-primary bg-dark">Entrar</a>
                        <div class="d-flex justify-content-between align-items-center">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 ">
                    <div class="card mb-4 box-shadow desvanecer "> 
                      <div class="div-imagen">
                        <div class="color text-dark text-center"> 
                          <h4>Mercado Libre es una plataforma de comercio electrónico con operaciones en 18 países de América donde millones de usuarios.</h4>
                        </div>
                        <img  class="card-img-top desvanecer" src="img/MercadoLibre_g.jpg">
                      </div>
                      <div class="card-body"> 
                        <p class="card-text text-dark text-center">MERCADO LIBRE</p>
                        <a href="https://www.mercadolibre.cl/" class="btn btn-primary bg-dark">Entrar</a>
                        <div class="d-flex justify-content-between align-items-center">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 ">
                    <div class="card mb-4 box-shadow desvanecer "> 
                      <div class="div-imagen">
                        <div class="color text-dark text-center"> 
                          <h4>Una de las comunas más grandes del Gran Santiago, está dentro de las comunas con mayor densidad de personas.</h4>
                        </div>
                        <img  class="card-img-top desvanecer" src="img/municipalidad_maipu_g.jpg">
                      </div>
                      <div class="card-body"> 
                        <p class="card-text text-dark text-center">MUNICIPALIDAD DE MAIPÚ</p>
                        <a href="https://www.municipalidadmaipu.cl/" class="btn btn-primary bg-dark">Entrar</a>
                        <div class="d-flex justify-content-between align-items-center">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 ">
                    <div class="card mb-4 box-shadow desvanecer "> 
                      <div class="div-imagen">
                        <div class="color text-dark text-center"> 
                          <h4>Es quizás uno de los principales proveedores de servicios de streaming de películas y series en todo el mundo.</h4>
                        </div>
                        <img  class="card-img-top desvanecer" src="img/netflix_g.jpg">
                      </div>
                      <div class="card-body"> 
                        <p class="card-text text-dark text-center">NETFLIX</p>
                        <a href="https://www.netflix.com/" class="btn btn-primary bg-dark">Entrar</a>
                        <div class="d-flex justify-content-between align-items-center">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>       
    </header>
    
    <!-- Footer -->
    <footer class="pt-75 pb-65 text-center footer_1 bg-dark">
        <div class="container px-xl-0">
            <div class="row justify-content-between align-items-center lh-40 links">
              <div class="col-lg-0 col-sm-0 text-sm-right text-lg-left order-1 order-lg-0 aos-animate">
                <a href="index.html" class="link mx-15 color-white">
                    Inicio
                </a>
                <a href="quienes_somos.html" class="link mr-15 color-white">
                    Quiénes somos
                </a>
                <a href="planes_hosting.html" class="link mx-15 color-white">
                    Hosting
                </a>
                <a href="galeria.html" class="link mx-15 color-white">
                    Galería
                </a>
                <a href="contacto.html" class="link mx-15 color-white">
                    Contacto
                </a>
                <a href="registro.html" class="link mx-15 color-white">
                    Registro
                </a>
                </div>
                <div class="mb-10 mb-lg-0 col-lg-auto order-0">
                </div>
                <div class="col-lg-4 col-sm-6 text-sm-left text-lg-right order-2 order-lg-0 aos-animate">
                    <a href="https://twitter.com" class="mx-15 link color-bg-light">
                        <i class="fab fa-twitter">
                        </i>
                    </a>
                    <a href="https://facebook.com" class="mx-15 link color-bg-light">
                        <i class="fab fa-facebook-square">
                        </i>
                    </a>
                </div>
            </div>
            <br><br>
            <div class="row justify-content-center">
                <div class="mt-10 col-xl-4 col-lg-5 col-md-6 col-sm-8 aos-animate">
                    <div class="text-adaptive color-transparent-white">
                        DMN Hosting @ Derechos reservados 2021
                        <br>Eder Dureaux - Enzon Escanilla - Felipe Navarro
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script>
      function myFunction() {
         var element = document.body;
         element.classList.toggle("dark-mode");
      }
    </script>
    </body>
</html>